/* Reset default margin and padding for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: beige; */
  background-color: #e6f7ff;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.dialog-open {
  overflow-y: hidden;
  & .dialog-wrapper {
    display: flex;
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 440px));
  justify-content: space-between;
  row-gap: 32px;
  margin: 2em;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  align-items: start;
  border: 2px solid;
  padding: 16px;
  border-radius: 16px;
  font-size: 1.25em;
  & span {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
  }
  & h3{
    flex: 1;
  }
  & small {
    background: #494343;
    color: #fff;
    padding: 0.25em 0.5em;
    border-radius: 16px;
  }
  & button {
    all: unset;
    cursor: pointer;
    padding: 0.25em 0.5em;
    border: 1px dotted;
    border-radius: 16px;
    transition-duration: 300ms;
    &:hover{
      background: #000;
      color: white;
    }
  }
}

.head {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  height: 100%;
  width: 100%;
  position: sticky;
  top: 0;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);  */
}

.container {
  margin-left: 170px;
  margin-right: 170px;
  /* max-width: 1500px; */
  display: flex;
  /* flex-direction: row-reverse; */
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* .logo {
  padding: 10px;
} */

.logo img {
  width: 170px; /* Increased logo size */
  height: auto;
  filter: grayscale(80%) brightness(90%);
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-left: 20px;
  & i {
    display: none;
    font-size: 1.2vw;
  }
}

.navigation ul li {
  display: inline-block;
  /* margin-right: 40px; */
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  text-decoration: none;
  color: #fff;
  padding: 3px 20px;
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s;
  /* margin-left: 10px; */
}

.navigation ul li:hover {
  & a {
    color: black;
    background-color: rgba(255, 255, 255, 0.464);
    border-radius: 20px;
  }
}

.navigation ul li.active {
  scale: 1.05;
  & a {
    color: black;
    background-color: white;
    border-radius: 20px;
  }
}

.nav-toggle {
  color: #fff;
  padding: 3px 5px;
  display: none;
}



.search {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 50px;
}

.s1 {
  width: 350px;
  height: 40px;
  border: none;
  border-top-right-radius: 5px;
  background-color: #f5f5f6;
  border-bottom-right-radius: 5px;
  padding: 10px;
  font-size: 16px;
  outline: none; /* Remove default input focus outline */
}

#btn {
  border: none;
  padding: 10px 16px;
  background-color: #f5f5f6;
  color: black;
  font-size: 17px;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

#btn:hover {
  background: #ff9900;
}

.panel1 {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: gray 1px solid;
  & img {
    width: 50vw;
    height: 100%;
  }
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 100px;
  gap: 16px;
}

.box1 h3 {
  font-size: x-large;
}

.box1content {
  /* padding: 0px 100px 50px 100px; */
  font-size: large;
}

.line1 {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  padding: 70px;
  padding-bottom: 40px;
}

.line2 {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 300px 300px 300px 300px;
  /* grid-template-rows: 300px 300px 300px 300px; */
  gap: 20px;
}
.boxes {
  /* border: 2px solid black; */
  & p {
    padding: 10px;
    
  }
}
.boxdata1 {
  display: flex;
  /* gap: 10px; */
  justify-content: start;
  align-items: center;
  margin-left: 5px;
  & img {
    width: 1.5vw;
    height: 1.5vw;
    margin: 5px;
  }
}

.panel3 {
  margin-top: 70px;
  text-align: center;
  display: flex;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  & p {
    margin-top: 10px;
    padding-left: 70px;
    padding-right: 70px;
  }
}

.panel4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  margin-bottom: 40px;
  & img {
    width: 30px;
  }
  & h2 a {
    color: yellowgreen;
    text-decoration: none;
  }
}

.footer {
  border-top: gray 1px solid;
  display: flex;
  justify-content: space-between;
  /* display: grid;
  grid-template-columns: 90% 10%;
  gap: 10px; */
  padding: 15px;

  & img {
    width: 50px;
    border-radius: 50%;
  }
  & p1 {
    margin-left: 20px;
    padding-right: 20px;
    display: flex;
    font-weight: bold;
    font-size: large;
    align-items: center;
    height: 40px;
    border-right: gray 1px solid;
  }
  & p {
    margin-left: 20px;
    color: #6b7280;
  }
}

.start {
  display: flex;
  align-items: center;
}

.last {
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    width: 30px;
    margin-right: 8px;
  }
}

dialog {
  width: min(100vw, 700px);
  max-height: 60vmin;
  box-sizing: border-box;
  border-radius: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  & .card {
    width: 100%;
    padding: 3em 1em;
    height: 100%;
  }

  & .close {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  
}